In [15]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import os

In [16]:
file_path = "kc_house_data.csv"  
target_column = "price"

Step1:Extracting Data

In [17]:
if not os.path.exists(file_path):
    raise FileNotFoundError(f"The file {file_path} does not exist.")
data = pd.read_csv(file_path)
print("Data extracted successfully!")

Data extracted successfully!

In [8]:
print("Dataset Details:")
print("Shape of the dataset:", data.shape)
print("\nFirst 5 rows:\n", data.head())
print("\nColumn Info:")
print(data.info())
print("\nSummary Statistics:")
print(data.describe(include='all'))

Dataset Details:
Shape of the dataset: (21613, 21)

First 5 rows:
            id             date     price  bedrooms  bathrooms  sqft_living  \
0  7129300520  20141013T000000  221900.0         3       1.00         1180
1  6414100192  20141209T000000  538000.0         3       2.25         2570
2  5631500400  20150225T000000  180000.0         2       1.00          770
3  2487200875  20141209T000000  604000.0         4       3.00         1960
4  1954400510  20150218T000000  510000.0         3       2.00         1680

   sqft_lot  floors  waterfront  view  ...  grade  sqft_above  sqft_basement  \
0      5650     1.0           0     0  ...      7        1180              0
1      7242     2.0           0     0  ...      7        2170            400
2     10000     1.0           0     0  ...      6         770              0
3      5000     1.0           0     0  ...      7        1050            910
4      8080     1.0           0     0  ...      8        1680              0

   yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
0      1955             0    98178  47.5112 -122.257           1340
1      1951          1991    98125  47.7210 -122.319           1690
2      1933             0    98028  47.7379 -122.233           2720
3      1965             0    98136  47.5208 -122.393           1360
4      1987             0    98074  47.6168 -122.045           1800

   sqft_lot15
0        5650
1        7639
2        8062
3        5000
4        7503

[5 rows x 21 columns]

Column Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB
None

Summary Statistics:
                  id             date         price      bedrooms  \
count   2.161300e+04            21613  2.161300e+04  21613.000000
unique           NaN              372           NaN           NaN
top              NaN  20140623T000000           NaN           NaN
freq             NaN              142           NaN           NaN
mean    4.580302e+09              NaN  5.400881e+05      3.370842
std     2.876566e+09              NaN  3.671272e+05      0.930062
min     1.000102e+06              NaN  7.500000e+04      0.000000
25%     2.123049e+09              NaN  3.219500e+05      3.000000
50%     3.904930e+09              NaN  4.500000e+05      3.000000
75%     7.308900e+09              NaN  6.450000e+05      4.000000
max     9.900000e+09              NaN  7.700000e+06     33.000000

           bathrooms   sqft_living      sqft_lot        floors    waterfront  \
count   21613.000000  21613.000000  2.161300e+04  21613.000000  21613.000000
unique           NaN           NaN           NaN           NaN           NaN
top              NaN           NaN           NaN           NaN           NaN
freq             NaN           NaN           NaN           NaN           NaN
mean        2.114757   2079.899736  1.510697e+04      1.494309      0.007542
std         0.770163    918.440897  4.142051e+04      0.539989      0.086517
min         0.000000    290.000000  5.200000e+02      1.000000      0.000000
25%         1.750000   1427.000000  5.040000e+03      1.000000      0.000000
50%         2.250000   1910.000000  7.618000e+03      1.500000      0.000000
75%         2.500000   2550.000000  1.068800e+04      2.000000      0.000000
max         8.000000  13540.000000  1.651359e+06      3.500000      1.000000

                view  ...         grade    sqft_above  sqft_basement  \
count   21613.000000  ...  21613.000000  21613.000000   21613.000000
unique           NaN  ...           NaN           NaN            NaN
top              NaN  ...           NaN           NaN            NaN
freq             NaN  ...           NaN           NaN            NaN
mean        0.234303  ...      7.656873   1788.390691     291.509045
std         0.766318  ...      1.175459    828.090978     442.575043
min         0.000000  ...      1.000000    290.000000       0.000000
25%         0.000000  ...      7.000000   1190.000000       0.000000
50%         0.000000  ...      7.000000   1560.000000       0.000000
75%         0.000000  ...      8.000000   2210.000000     560.000000
max         4.000000  ...     13.000000   9410.000000    4820.000000

            yr_built  yr_renovated       zipcode           lat          long  \
count   21613.000000  21613.000000  21613.000000  21613.000000  21613.000000
unique           NaN           NaN           NaN           NaN           NaN
top              NaN           NaN           NaN           NaN           NaN
freq             NaN           NaN           NaN           NaN           NaN
mean     1971.005136     84.402258  98077.939805     47.560053   -122.213896
std        29.373411    401.679240     53.505026      0.138564      0.140828
min      1900.000000      0.000000  98001.000000     47.155900   -122.519000
25%      1951.000000      0.000000  98033.000000     47.471000   -122.328000
50%      1975.000000      0.000000  98065.000000     47.571800   -122.230000
75%      1997.000000      0.000000  98118.000000     47.678000   -122.125000
max      2015.000000   2015.000000  98199.000000     47.777600   -121.315000

        sqft_living15     sqft_lot15
count    21613.000000   21613.000000
unique            NaN            NaN
top               NaN            NaN
freq              NaN            NaN
mean      1986.552492   12768.455652
std        685.391304   27304.179631
min        399.000000     651.000000
25%       1490.000000    5100.000000
50%       1840.000000    7620.000000
75%       2360.000000   10083.000000
max       6210.000000  871200.000000

[11 rows x 21 columns]

Step2: Preprocessing Data

In [9]:
# Drop unnecessary columns (e.g., ID, Date)
if 'id' in data.columns:
    data.drop(columns=['id'], inplace=True)
if 'date' in data.columns:
    data.drop(columns=['date'], inplace=True)

# Check and Handle Missing Values
print("Missing Values:")
missing = data.isnull().sum()
print(missing[missing > 0] if missing.any() else "No missing values!")
data.fillna(data.median(numeric_only=True), inplace=True)

Missing Values:
No missing values!

In [10]:
# Encode Categorical Variables
label_encoders = {}
for column in data.select_dtypes(include=['object']).columns:
    le = LabelEncoder()
    data[column] = le.fit_transform(data[column])
    label_encoders[column] = le

print("\nPreprocessed Dataset Details:")
print("Shape of the dataset after preprocessing:", data.shape)
print("\nFirst 5 rows after preprocessing:\n", data.head())

Preprocessed Dataset Details:
Shape of the dataset after preprocessing: (21613, 19)

First 5 rows after preprocessing:
       price  bedrooms  bathrooms  sqft_living  sqft_lot  floors  waterfront  \
0  221900.0         3       1.00         1180      5650     1.0           0
1  538000.0         3       2.25         2570      7242     2.0           0
2  180000.0         2       1.00          770     10000     1.0           0
3  604000.0         4       3.00         1960      5000     1.0           0
4  510000.0         3       2.00         1680      8080     1.0           0

   view  condition  grade  sqft_above  sqft_basement  yr_built  yr_renovated  \
0     0          3      7        1180              0      1955             0
1     0          3      7        2170            400      1951          1991
2     0          3      6         770              0      1933             0
3     0          5      7        1050            910      1965             0
4     0          3      8        1680              0      1987             0

   zipcode      lat     long  sqft_living15  sqft_lot15
0    98178  47.5112 -122.257           1340        5650
1    98125  47.7210 -122.319           1690        7639
2    98028  47.7379 -122.233           2720        8062
3    98136  47.5208 -122.393           1360        5000
4    98074  47.6168 -122.045           1800        7503

Step3:Transform Data

In [11]:
# Separate features and target
X = data.drop(columns=[target_column])
y = data[target_column]

# Split Data into Training and Testing Sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
# Normalize Numeric Features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

print(f"\nTraining Set Shape: {X_train_scaled.shape}, Testing Set Shape: {X_test_scaled.shape}")

Training Set Shape: (17290, 18), Testing Set Shape: (4323, 18)

Step4:Load Data

In [13]:
output_dir = "output"
os.makedirs(output_dir, exist_ok=True)

pd.DataFrame(X_train_scaled).to_csv(os.path.join(output_dir, "X_train.csv"), index=False)
pd.DataFrame(X_test_scaled).to_csv(os.path.join(output_dir, "X_test.csv"), index=False)
pd.DataFrame(y_train).to_csv(os.path.join(output_dir, "y_train.csv"), index=False)
pd.DataFrame(y_test).to_csv(os.path.join(output_dir, "y_test.csv"), index=False)

In [14]:
print(f"\nData successfully saved in the '{output_dir}' directory:")
print("- X_train.csv")
print("- X_test.csv")
print("- y_train.csv")
print("- y_test.csv")

Data successfully saved in the 'output' directory:
- X_train.csv
- X_test.csv
- y_train.csv
- y_test.csv